* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    user-select: none;
}

:root {
    --body-bg: #0a0719;
    --nav-bg: #1B1340;
    --accent-color: #6B4EFF;

    --nav-text-unselected: #B3A3F5;
    --nav-text-selected: #FFFFFF;
    --nav-background-selected: #291D58;

    --border-color: #303437;

    --sidebar-width: 18rem;

    --card-background: #251D4D;
    --footer-background:rgb(23, 17, 46);

    --skin-viewer-width: 20rem;

    --border-radius: 16px;

}

body {
    background-color: #38006d;
    background-image: linear-gradient(225deg, #000e2b 0%, #161440 50%, #38006d 100%);
}

.skin_canvas {
    transition: opacity 2s;
    opacity: 0;
}

body h1 {
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.app-wrapper {
    display: flex;
    flex-direction: row;
}

.skin-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}

#skin-viewer {
    transform: translate(-40rem, 0rem);
    transition: transform 2s, opacity 4s;
    opacity: 0;
}

.skin-settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    max-width: 100%;
    margin-right: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-radius: var(--border-radius);
    background-color: var(--card-background);
    width: 100%;
    padding: 1rem;
}

.card input[type='text'] {
    color: white;
    background-color: var(--nav-bg);
    padding: 1rem;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}

.card input[type='text']:focus {
    outline: none;
}

.card input[type='text']::placeholder {
    color: var(--nav-text-unselected);
}

.card input[type='file'] {
    color: white;
    background-color: var(--nav-bg);
    padding: 0.70rem;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}

/*scheiß auf firefox*/
.input input[type='file']::-webkit-file-upload-button {
    padding: 0.4rem;
    border: none;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
    border-radius: 11px;
    font-size: 0.9rem;
    background-color: #6B4EFF;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.input input[type='file']::-webkit-file-upload-button:hover {
    transform: scale(0.9, 0.9);
}

.card select {
    color: white;
    background-color: var(--nav-bg);
    padding: 1rem;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
}

p {
    color: white;
}

h2 {
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.card h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}

.paint-type {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 50vh;
    overflow-y: auto;
}

.paint-type .input {
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    padding-right: 1rem;
}

.paint-type.card::-webkit-scrollbar {
    width: 0;
}

.paint-type.card {
    scrollbar-width: none; /*firefox ._.*/
}

.paint-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: var(--border-radius);
    background: var(--nav-bg);
    padding: 1rem;
    transition: 0.1s ease-in-out all;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.paint-entry:hover {
    transform: scale(0.975);
    box-shadow: 1px 1px 15px 1px var(--accent-color);
    cursor: pointer;
}

.paint-entry:active {
    transform: scale(0.950);

    cursor: pointer;
}

.selected {
    border: #fff solid 2px;
}

.paint-entry h2 {
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.tag-button {
    display:inline-block;
    border: none;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-color: #b5a9ef;
    padding: 4px 7px;
    color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-decoration: none;
    margin-top: 1rem;
    margin-right: 0.3rem;
    transition: all 0.3s;
}

.tag-button:hover {
    background-color: #8d78f4;
    transform: scale(0.97);
    cursor: pointer;
}

.selected-tag {
    border: #ac94f6 solid 1px;
    background-color: #6B4EFF;
}

.button {
    border: none;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    background-color: #6B4EFF;
    padding: 15px 25px;
    color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 1.05rem;
    font-weight: 400;
    line-height: 1.5rem;
    transition: 0.1s all;
    text-decoration: none;
}

.round {
    padding: 15px 18px !important;
    border-radius: 100vw !important;
}

.button:hover {
    background-color: #7d63ff;
    transform: scale(0.97);
    cursor: pointer;
}

.button:active {
    background-color: #583ce4;
    transform: scale(0.95);
    cursor: pointer;
}


#download:active {
    opacity: 50%;
}

#download:disabled {
    opacity: 30%;
}

.button i {
    font-size: 1.25rem;
    transform: translateY(3px);
}

.shiny {
    display:inline-block;
    border: none;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
    background: rgb(107,78,255);
    background: linear-gradient(90deg, rgba(107,78,255,1) 0%, rgba(196,186,255,1) 25%, rgba(107,78,255,1) 50%);
    background-size: 25rem 2rem;
    background-position: -190px 0%;
    color: white;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    transition: 0.1s all;
    text-decoration: none;
}

.shiny:hover {
    background-color: #7d63ff;
    transform: scale(0.97);
    cursor: pointer;
    animation: ShinyButton 0.5s ease-in-out;
}

.shiny:active {
    background-color: #583ce4;
    transform: scale(0.95);
    cursor: pointer;
}

.shiny i {
    font-size: 1.25rem;
    transform: translateY(3px);
}

@keyframes ShinyButton {
    0% {
        background-position: -190px 0%;
    }
    100% {
        background-position: 200px 0%;
    }
}

.notification-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
    pointer-events: none;
    height: 97svh;
    overflow: hidden;
}

.notification {
    margin-top: 10px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    opacity: 0;
    transform: scale(0, 1);
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.notification.success {
    background-color: #4caf50;
}

.notification.error {
    background-color: #f44336;
}

.notification.info {
    background-color: #368ff4;
}

#credits {
    margin: 0;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-skin-container {
    width: 120px;
    height: 150px;
}

.skin-overlay {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: var(--skin-viewer-width) 1fr;
}